.hlx-Review-ratingFields, .hlx-Review-commentFields {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
}

.hlx-Review-ratingFields input[name="rating"] {
    margin: 0;
    background-image: url(img/star-outline.svg);
    appearance: none;
    width: 24px;
    height: 24px;
}

.hlx-Review-ratingFields label {
    appearance: none;
    visibility: collapse;
    width: 0;
}

.hlx-Review-ratingFields input[name="rating"].is-Active {
    background-image: url(img/star-filled.svg);
}

.hlx-Review-commentFields {
    display: none;
    position: relative;
}

.hlx-Review-commentFields input[type="submit"] {
    position: absolute;
    right: 6px;
    bottom: 10px;
    background: transparent;
    border: none;
    appearance: none;
}

textarea#rating-comments {
    border-radius: 4px;
}

.hlx-Review-commentFields.is-Visible,
.hlx-ReviewStats.is-Visible {
    display: initial;
}

.hlx-ReviewStats {
    display: none;
}