fieldset {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
}

input {
    margin: 0;
    background-image: url(img/star-outline.svg);
    appearance: none;
    width: 24px;
    height: 25px;
}

label {
    appearance: none;
    visibility: collapse;
    width: 0;
}

input,
fieldset:hover input:hover + label + input,
fieldset:hover input:hover + label + input + label + input,
fieldset:hover input:hover + label + input + label + input + label + input,
fieldset:hover input:hover + label + input + label + input + label + input + label + input {
    background-image: url(img/star-outline.svg);
}

fieldset:hover input {
    background-image: url(img/star-filled.svg);
}

fieldset textarea {
    display: none;
}

textarea.is-Visible {
    display: initial;
}